Repository Mobinafshari/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss,tsx,ts}": "prettier --write --ignore-unknown"
}

feat:configuration for react query added and some layer added to main.tsx
  CHANGELOG.md
  README.md
  package.json
Due: none

fix: chunk size handling improved
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

fix: chunk size handling improved
  CHANGELOG.md
  package.json
Due: none

feat:store folder added for the folder structure enhancement
  src/store/index.ts
Due: eslint, prettier --write --ignore-unknown

feat:store folder added for the folder structure enhancement
  CHANGELOG.md
  package.json
Due: none

fix: folder structure and fonts fixed
  public/fonts/Inter-Black.woff2
  public/fonts/Inter-Bold.woff2
  public/fonts/Inter-Regular.woff2
  public/fonts/Vazirmatn-FD-NL-Black.woff2
  public/fonts/Vazirmatn-FD-NL-Bold.woff2
  public/fonts/Vazirmatn-FD-NL-Regular.woff2
  src/constants/index.ts
  src/routes/index.ts
  src/styles/base/_font.scss
  src/styles/base/_typogeraphy.scss
  src/styles/main.scss
Due: eslint, prettier --write --ignore-unknown

feat: mui dependencies added
  package-lock.json
  package.json
  src/main.tsx
Due: eslint, prettier --write --ignore-unknown

fix: unused deleted
  src/main.tsx
Due: eslint, prettier --write --ignore-unknown

fix:last release
  CHANGELOG.md
  package.json
Due: none

fix: chunk size handling fixed
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

fix: chunk size handling fixed
  CHANGELOG.md
  package.json
Due: none

fix: import path fixed and new folders added
  tsconfig.json
Due: none

fix: import path fixed and new folders added release
  CHANGELOG.md
  package.json
Due: none

fix: tsconfig problem fixed
  tsconfig.json
Due: none

fix: tsconfig problem fixed release
  CHANGELOG.md
  package.json
Due: none

feat: error boundary added
  package-lock.json
  package.json
  src/main.tsx
Due: eslint, prettier --write --ignore-unknown

feat: error boundary added release
  CHANGELOG.md
  package.json
Due: none

fix: tsconfig issue fixed
  tsconfig.json
Due: none

fix: tsconfig issue fixed release
  CHANGELOG.md
  package.json
Due: none

fix: reset csss changed
  src/styles/base/_base.scss
Due: prettier --write --ignore-unknown

release: reset csss changed
  CHANGELOG.md
  package.json
Due: none

fix: handling chunk size removed bcs it caused some error in production
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

release: handling chunk size removed bcs it caused some error in production
  CHANGELOG.md
  package.json
Due: none

fix: Update package.json file
  package.json
Due: none

fix: tsc command added to the build statement
  CHANGELOG.md
  package.json
Due: none

release: chunk size handling fixed and react bundled with vendor
  CHANGELOG.md
  package.json
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

release: chunk size handling fixed
  CHANGELOG.md
  package.json
Due: none

fix: theme provider related to MUI and RAUI added
  package-lock.json
  package.json
  src/context/ThemeProvider.tsx
  src/main.tsx
Due: eslint, prettier --write --ignore-unknown

fix: theme provider related to MUI and RAUI added
  CHANGELOG.md
  package.json
Due: none
