Repository Mobinafshari/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss,tsx,ts}": "prettier --write --ignore-unknown"
}

fix: testing vite for chunks splitting
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: retry dynamic import for better usage of lazy load added
  eslint.config.mjs
  package-lock.json
  package.json
  src/utils/retryDynamicImport.ts
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: Icon component to handle icons in project added
  package-lock.json
  package.json
  src/App.tsx
  src/assets/Icon.tsx
  src/assets/icons/send.svg
  src/features/test/Test.tsx
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: sample added to work with icons
  src/assets/Icon.tsx
  src/utils/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: reset css added
  src/styles/base/_reset.scss
  src/styles/main.scss
Due: prettier --write --ignore-unknown

feat: fa and en language files in locale folder added to customizing language of app with i18
  src/locale/en-translate.ts
  src/locale/fa-translate.ts
Due: eslint, prettier --write --ignore-unknown

feat: i18n file added
  package-lock.json
  package.json
  src/App.tsx
  src/config/i18n.ts
  tsconfig.json
Due: eslint, prettier --write --ignore-unknown

fix: readme.md file updated
  README.md
Due: none

fix: some issues fixed and a cool vscode config with beautiful theme added
  .vscode/settings.json
  eslint.config.mjs
  src/App.tsx
Due: eslint, prettier --write --ignore-unknown

feat: changeset added for release versioning
  .changeset/README.md
  .changeset/config.json
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

fix: working on sw.js file
  public/sw.js
Due: eslint

fix: fixed some structure
  CHANGELOG.md
  package.json
Due: none

fix: same git repository was in the project and tryed to fix it
  CHANGELOG.md
  package.json
Due: none

fix: ready to use!
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: readme file updated
  README.md
Due: none

fix: package.json improved and release script added
  CHANGELOG.md
  README.md
  package.json
Due: none

fix: package.json improved and release script added
  CHANGELOG.md
  package.json
Due: none

fix: vitest processs fixed
  CHANGELOG.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/test/setupTest.ts
  test/sample.test.ts
  test/setup.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier --write --ignore-unknown

test fixed
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: none

test fixed
  eslint.config.mjs
Due: none

fix: tsconfig file fixed and errors gone
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix:eslint fixed for test folder
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

fix:eslint fixed for test folder
  test/sample.test.ts
Due: eslint, prettier --write --ignore-unknown

last update and release
  CHANGELOG.md
  package.json
Due: none

feat: types folder added
  src/services/types/index.ts
  test/sample.test.ts
  tsconfig.json
Due: eslint, prettier --write --ignore-unknown

feat: types folder added
  CHANGELOG.md
  package.json
Due: none

feat: types folder added
  test/sample.test.ts
Due: eslint, prettier --write --ignore-unknown

feat: types folder added
  eslint.config.mjs
  test/sample.test.ts
Due: eslint, prettier --write --ignore-unknown

feat: types folder added
  eslint.config.mjs
Due: none

feat: types folder added
  CHANGELOG.md
  package.json
  test/sample.test.ts
Due: eslint, prettier --write --ignore-unknown

fix: some issues fixed
  src/styles/base/_reset.scss
  src/styles/main.scss
Due: prettier --write --ignore-unknown

fix: some issues fixed
  CHANGELOG.md
  package.json
Due: none

feat: some libraries added
  package-lock.json
  package.json
Due: none

feat:configuration for react query added and some layer added to main.tsx
  README.md
  package-lock.json
  package.json
  src/lib/Index.ts
  src/lib/http.ts
  src/lib/react-query.ts
  src/main.tsx
Due: eslint, prettier --write --ignore-unknown
