Repository Mobinafshari/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown

feat :pettier added and testing lint-staged formatting in commit phase
  .lintstagedrc.json
  src/components/Test.tsx
Due: eslint, prettier --write --ignore-unknown

test : testing lint-staged
  src/components/Test.tsx
Due: eslint, prettier --write --ignore-unknown

feat: vitest added
  .gitignore
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/Test.tsx
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: cypress added
  cypress.config.ts
  cypress/component/ComponentTest.cy.tsx
  cypress/e2e/test.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint, prettier --write --ignore-unknown

feat: knip file added
  .editorconfig
  knip.json
Due: none

test: testing lint-staged
  src/components/Test.tsx
Due: eslint, prettier --write --ignore-unknown

feat: import path like next.js added
  README.md
  src/components/Test.tsx
  src/styles/index
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

fix: readme file changed
  README.md
Due: none

Update README.md
  README.md
Due: none

feat: add local image
  README.md
  public/banner.jpg
Due: none

feat : update local image
  README.md
Due: none

test: last changes up to date
  .gitignore
Due: none

feat: git-plugin-pwa added
  cli.js
  package-lock.json
  package.json
  public/banner.jpg
  public/service-worker.js
Due: eslint

fix: vite.config fixed and a test serviceWorker config added
  public/service-worker.js
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: PWA icons added
  public/icons/icon-192.png
  public/icons/icon-512.png
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

fix: readme.md file updated
  README.md
Due: none

feat: favicon added
  README.md
  index.html
  public/favicon.ico
Due: none

feat: sass and sass files and folders added also fonts added and injected, you can replace them
  package-lock.json
  package.json
  src/App.tsx
  src/assets/fonts/Inter-Black.woff2
  src/assets/fonts/Inter-Bold.woff2
  src/assets/fonts/Inter-Regular.woff2
  src/assets/fonts/Vazirmatn-FD-NL-Black.woff2
  src/assets/fonts/Vazirmatn-FD-NL-Bold.woff2
  src/assets/fonts/Vazirmatn-FD-NL-Regular.woff2
  src/main.tsx
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_animations.scss
  src/styles/base/_base.scss
  src/styles/base/_font.scss
  src/styles/base/_typogeraphy.scss
  src/styles/base/_utilities.scss
  src/styles/main.scss
Due: eslint, prettier --write --ignore-unknown

fix: vite-plugin-pwa remooved
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

feat: sw and manifest files added
  index.html
  public/manifest.json
  sw.js
Due: eslint

fix: manifest.json improved and added some staff
  .gitignore
  index.html
  public/manifest.json
  src/App.tsx
Due: eslint, prettier --write --ignore-unknown

Remove cli.js from repository
  cli.js
Due: eslint

feat: simple sw.js file added
  public/sw.js
  src/main.tsx
  sw.js
Due: eslint, prettier --write --ignore-unknown

fix: main file fixed
  src/main.tsx
Due: eslint, prettier --write --ignore-unknown

fix: testing vite for chunks splitting
  vite.config.ts
Due: eslint, prettier --write --ignore-unknown

fix: testing vite for chunks splitting
  src/features/test/Test.tsx
Due: eslint, prettier --write --ignore-unknown

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{css,scss,tsx,ts}
